* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: Roboto;
  font-size: 30px;
  color: #f8fafc;
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 70px;
  }
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.league-img {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .league-img {
    width: 350px;
    height: 350px;
  }
}
